// Mixins

@mixin button($text-color){
  width: 242px;
  height: 70px;
  display: inline-block;
  background: url(../images/button_normal.png);
  color: $text-color;
  font-size: 25px;
  background-size: 100%;
  text-decoration: none;
  line-height: 2.5;
  vertical-align: top;
  text-align: left;

  &:hover{
    background: url(../images/button_hover.png);
    background-size: 100%;
  }

  i {
    font-size: 60px;
    line-height: 0;
  }
}

